.sun-editor .se-toolbar {
    background-color: #FFF !important;
}

.sun-editor {
    border: none!important;
}

.se-toolbar sun-editor-common {
    outline: none!important;
}

.se-toolbar {
    outline: none!important;
}