.sun-editor .se-toolbar {
  background-color: #fff !important;
}

.sun-editor {
  border: none !important;
}

.se-toolbar sun-editor-common {
  outline: none !important;
}

.se-toolbar {
  outline: none !important;
}

.sun-editor-editable p {
  font-size: 1.1rem;
}

.sun-editor-editable h1 .sun-editor-editable h2 {
  font-family: Inter !important;
}

.sun-editor .se-wrapper .se-wrapper-wysiwyg p {
  font-family: Inter;
}
