@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fff !important;
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-Regular.woff') format('woff');
  }
}

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-Regular.woff') format('woff');
  }
}

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-Regular.woff') format('woff');
  }
}

@layer base {
  @font-face {
    font-display: swap;
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-Regular.woff') format('woff');
  }
}

@import url('./suneditor/suneditor.css');

@import url('./inputs/inputs.css');

button {
  /* Variables */
  --button_radius: 10px;
  --button_color: #def702;
  --button_outline_color: #121400;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: flex;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 6px 12px 3px 12px;
  background: var(--button_color);
  color: #121400;
  transform: translate(-0.15em, -0.15rem);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translate(-0.3em, -0.3em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.button_Nobg {
  display: flex;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 6px 12px 3px 12px;
  transform: translate(-0.15em, -0.15rem);
  transition: transform 0.1s ease;
}

button:hover .button_Nobg {
  /* Pull the button upwards when hovered */
  transform: translate(-0.3em, -0.3em);
}

button:active .button_Nobg {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.button_cards {
  display: flex;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 6px 12px 6px 12px;
  background: var(--button_color);
  color: #121400;
  transform: translate(0.15em, 0.15rem);
  transition: transform 0.1s ease;
}

.Lens-slideIn {
  animation: slideIn 1s forwards;
  animation-name: 'slideIn';
  animation-iteration-count: 'infinite';
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

button:hover .button_cards {
  /* Pull the button upwards when hovered */
  transform: translate(0.25em, 0.25em);
}

button:active .button_cards {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

/* @layer components {
  .btn_Div {
    @apply h-full min-w-fit flex items-center justify-center  border-black  px-8;
  }
  .btn_Btn { @apply flex align-middle;}
  .btn_Div2 { @apply flex;}
} */

@import url('./suneditor/suneditor.css');
@import url('./inputs/inputs.css');
@import url('./Cards/Cards.css');

figure {
  display: block;
  position: relative;
  float: right;
  overflow: hidden;
  border-radius: 8px;
}
figcaption {
  position: absolute;
  padding: 10px 20px;
}

.cap-right:before {
  bottom: 10px;
  right: 10px;
}
.cap-right figcaption {
  bottom: 0;
  right: 0;
}
.cap-right:hover figcaption {
  right: 0;
}

/* new ui */
.lens-input {
  @apply lens-container my-4 h-auto w-full items-baseline;
}

.lens-container {
  background: #ffffff;
  border: 1px solid rgba(217, 217, 217, 0.5);
  box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.lens-post {
  background: #ffffff;
  border: 1px solid rgba(217, 217, 217, 0.5);
  box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.scrollbar-hide {
  /* Internet Explorer y Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  z-index: 0 !important;
}
.scrollbar-hide:hover {
  /* Internet Explorer y Edge */
  -ms-overflow-style: auto;
  /* Firefox */
  scrollbar-width: auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide:hover::-webkit-scrollbar {
    display: block;
  }
  .scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: rgba(182, 61, 61, 0.5);
    border-radius: 4px;
  }
  .scrollbar-hide::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.024);
  }
}
.scrollbar-hide::-webkit-scrollbar {
  width: 3px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.lens-folder-tab {
  box-sizing: border-box;
  /* position: absolute; */
  width: 84px;
  height: 15px;
  left: 193px;
  top: 224px;
  /* background: #f7f4db; */
  background: #fffee8;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.25);

  border-bottom: 4px solid #fffee8;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  z-index: 0;
}

.lens-folder-tab-empty {
  z-index: 5;
  box-sizing: border-box;
  /* position: absolute; */
  width: 84px;
  height: 12px;
  left: 193px;
  top: 224px;
  background: transparent;
  border: 2px solid transparent;
  border-top-right-radius: 7.9227px;
  border-top-left-radius: 7.9227px;
  border-bottom: 0px;
}

.lens-folder {
  background: #fffee8;
  box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.25);
  border-top-right-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
